.basicpage {
    padding: 20px;
}

.component-list-header, .dump-placeholder {
    font-weight: 600;
}

.dump-placeholder {
    text-align: center;
}

.component-search {
    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 10px;
    padding: 10px 20px 10px 40px;
    font-size: 14px;
    border-radius: 0;
}

.hide-panel {
    float: right;
    padding-top: 0;
    padding-right: 0;
}

#panelToast button {
    width: 50px;
}

